[submodule "angular-appengine-endpoints-python-todos/app/endpoints-proto-datastore"]
	path = angular-appengine-endpoints-python-todos/app/endpoints-proto-datastore
	url = https://github.com/GoogleCloudPlatform/endpoints-proto-datastore.git
